.dow {
    display: none
}
.days .cell {
    height: auto;
}
.well {
    margin: 0;
}
.cell {
    height: 100px;
    overflow: hidden;
}
h2, h4, h5 {
    font-weight: bold;
}
header button {
    width: 14.28571428571429%;
    float: left;
    display: inline !important;
}
header h2 {
    text-align: center;
    width: 71.4285714286%;
    float: left;
    margin: auto;
    display: inline !important;
}
.current {
    background-color: #43ac6a;
}
.current h5 {
    color: #ffffff;
}
.cell {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #1b6d85;
    width: 14.28571428571429%;
}

@media (max-width: 900px) {
    .days {
        display: none;
    }
    .dow {
        display: inline-block;
    }
    .cell {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .cell {
        font-size: .8em;
    }
}

@media (min-width: 1100px) {
    .cell {
        font-size: 1em;
    }
}
