<header>
    <button class="btn btn-primary" (click)="goTo(nextM - 1)"> <<</button>
    <h2>{{title}}</h2>
    <button class="btn btn-primary" (click)="goTo(nextM + 1)"> >></button>
</header>
<div class="days">
    <div class="cell">
        <h4>Sunday</h4>
    </div>
    <div class="cell">
        <h4>Monday</h4>
    </div>
    <div class="cell">
        <h4>Tuesday</h4>
    </div>
    <div class="cell">
        <h4>Wednesday</h4>
    </div>
    <div class="cell">
        <h4>Thursday</h4>
    </div>
    <div class="cell">
        <h4>Friday</h4>
    </div>
    <div class="cell">
        <h4>Saturday</h4>
    </div>
</div>
<div class="cell well" [ngClass]="{current: (day.date.getDate() == date.getDate() && day.date.getMonth() == date.getMonth() && day.date.getFullYear() == date.getFullYear()), 'click': (day.events != null && day.events.length)}"
   *ngFor="#day of days"
  (click)="cellModal(day)">
  <strong>{{day.date.getDate()}}</strong>
  <em class="dow">{{_dateService.getDay(day.date.getDay())}}</em>
  <h5 *ngFor="#event of day.events" [ngClass]="{highlight: event.repeat.length, 'brand-warning': !event.repeat.length}">{{event.name}}</h5>
</div>
<div class="modal" role="dialog" *ngIf="showModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="toggleDetails()">&times;</button>
                <h4 class="modal-title">{{daySelected.events[0].name}}</h4>
            </div>
            <div class="modal-body">
                <p>{{daySelected.events[0].about}}</p>
            </div>
            <div class="modal-footer">
                <p>{{daySelected.events[0].location}}</p>
            </div>
        </div>
    </div>
</div>
