<h2>Calendar</h2>
<p>Upcoming events this month are listed, still being implemented to allow for scrolling thru all months.</p>
<header>
    <button class="btn btn-primary" (click)="goTo(cm-1)"> <<</button>
    <h2 class="month">{{month}}</h2>
    <button class="btn btn-primary" (click)="goTo(cm+1)"> >></button>
</header>
<div class="days">
    <div class="cell">
        <h4>Sunday</h4>
    </div>
    <div class="cell">
        <h4>Monday</h4>
    </div>
    <div class="cell">
        <h4>Tuesday</h4>
    </div>
    <div class="cell">
        <h4>Wednesday</h4>
    </div>
    <div class="cell">
        <h4>Thursday</h4>
    </div>
    <div class="cell">
        <h4>Friday</h4>
    </div>
    <div class="cell">
        <h4>Saturday</h4>
    </div>
</div>
<div class="cell" [ngClass]="{current: day.date.getDate() == cd && cm == date.getMonth()}" *ngFor="#day of days">
    <strong>{{day.date.getDate()}}</strong>
    <em class="dow">{{getDay(day.dow)}}</em>
    <p>{{day.events}}</p>
</div>