<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" (click)="toggleMenu()" data-toggle="collapse" data-target="#hcdg-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" (click)="navigate('dash')">{{title}}</a>
        </div>
        <div class="collapse navbar-collapse" id="hcdg-navbar" [ngStyle]="{'display' : showMenu}">
            <ul class="nav navbar-nav">
                <li><a (click)="navigate('cal')">Event Calendar</a></li>
                <li><a (click)="navigate('courses')">Courses</a></li>
                <li><a (click)="navigate('mem')">Members</a></li>
                <li><a (click)="navigate('gal')">Gallery</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://www.facebook.com/groups/hubcitydgc" title="Hub City Disc Golf Facebook Group. Come join the fun!" target="_blank">HCDG Facebook</a></li>
                <li><a href="http://discgolfunited.com" title="Disc Golf United" target="_blank">DGU</a></li>
                <li><a href="http://pdga.com" title="Professional Disc Golf Association" target="_blank">PDGA</a></li>
            </ul>
        </div>
    </div>
</nav>