<md-content class="app">
  <header layout="row" layout-align="center center">
    <h1 class="title">Hub City Disc Golf</h1>
  </header>
  <section layout="row" layout-sm="column" layout-align="center" layout-wrap>

    <span md-fab class="youtube">
      <a class="" href="https://www.youtube.com/channel/UCEF0gGRR2WTog4X4rt6Dx-Q/featured" target="_blank" aria-label="HCDG Facebook"></a>
    </span>
    <svg md-fab class="facebook">
      <a class="" href="https://www.facebook.com/groups/hubcitydgc/" target="_blank" aria-label="HCDG Facebook"></a>
    </svg>
    <span md-fab class="instagram">
      <a href="http://instagram.com" target="_blank" aria-label="HCDG Instagram"></a>
    </span>
    <!-- <span md-fab>
      <img src="app/style/images/email.png" />
      <a href="mailto:join@hcdg.club" aria-label="Email us!"></a>
    </span> -->
  </section>
</md-content>
