<h2>Weekly Leagues</h2>
<div class="row">
    <div *ngFor="#event of events" class="col-lg-4 col-md-6" (click)="gotoDetail(event)">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>{{event.name}}</h4>
            </div>
            <div class="panel-body">
                {{event.location}}
                <em>{{event.date}}</em>
            </div>
        </div>
    </div>
</div>
<h2>Recent Posts</h2>
<div class="row">
    <figure class="col-lg-12">
        <iframe src="http://www.youtube.com/embed/o8J-4Ae6in8?autoplay=0"></iframe>
        <figcaption>Hub City Ice Bowl</figcaption>
        <p>The 2016 Hub City Ice Bowl took place on January 30th and raised over <span class="highlight">$1200</span>
            for the Children's Security Blanket of Spartanburg.
            This video was made by the wonderful Bret Moore to commemorate our tournament. Thank you to all who attended
            to make the event as great as it was!</p>
    </figure>
</div>
<div class="row text-center">
    <img src="app/style/images/banner.png" alt="hcdg-banner"/>
</div>