<em>Will be visually cleaned up and sorted with opportunity to enlarge photos as you click, when I get the time.</em>
<h2>Gallery</h2>

<h3 id="16-2-6">Pipeline Doubles 2/6/16</h3>
<div class="image" *ngFor="#image of images" (click)="toggleModal(image)">
    <img class="click" src="{{image}}" alt="Image"/>
</div>
<div class="modal-backdrop" *ngIf="showModal" (click)="toggleModal(null)">
        <div class="modal-dialog">
            <div>
                <img src="{{image}}" alt="Image"/>
            </div>
        </div>
</div>
